*{
    box-sizing: border-box;
}

body{
    background-color: #c44569;
    color: #fff;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.counter {
    font-size: 4rem;
}